<section class="hero">
    <h2>Bienvenue dans l'univers du vin</h2>
    <p>Découvrez une sélection de vins raffinés et de qualité</p>
    <a routerLink="/products" class="cta-button">Découvrir nos vins</a>
  </section>

  <section class="featured-wines">
    <h3>Vins en vedette</h3>
    <div class="wine-card">
      <img src="../../../assets/Image/vin3.jpg" alt="Vin 1">
      <h4>Vin 1</h4>
      <p>Description du vin 1</p>
      <a href="#" class="btn">En savoir plus</a>
    </div>
    <div class="wine-card">
      <img src="../../../assets/Image/vin2.jpg" alt="Vin 2">
      <h4>Vin 2</h4>
      <p>Description du vin 2</p>
      <a href="#" class="btn">En savoir plus</a>
    </div>
    <div class="wine-card">
      <img src="../../../assets/Image/vin1.jpg" alt="Vin 3">
      <h4>Vin 3</h4>
      <p>Description du vin 3</p>
      <a href="#" class="btn">En savoir plus</a>
    </div>
  </section>