.card-img-top{
    width: 100px; /* Remplacez par la largeur souhaitée */
    height: 100px; /* Remplacez par la hauteur souhaitée */
    object-fit: cover;
    border-radius: 10px;
}

.card{
    display: flex;
    align-items: center;
    padding: 10px;
  }