.card{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer {
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  